/technologies/typescript/01_intro/node_modules
technologies/typescript/02_chapterFour/node_modules
technologies/typescript/03_sampleApp/node_modules
technologies/typescript/04_backToBasic/node_modules
technologies/typescript/05_udemy/node_modules
technologies/typescript/06_sampleExerciose/node_modules