**/node_modules
**/**/node_modules
**/**/**/node_modules
**/**/**/**/node_modules
**/**/**/**/**/node_modules

**/.env
**/**/.env
**/**/**/.env
**/**/**/**/.env
**/**/**/**/**/.env

**/dist
**/**/dist
**/**/**/dist
**/**/**/**/dist
**/**/**/**/**/dist

.DS_Store
**/.DS_Store
**/**/.DS_Store
**/**/**/.DS_Store
**/**/**/**/.DS_Store
**/**/**/**/**/.DS_Store